.App {
  border: 1px solid black;
  border-radius: 10px;
  width: 600px;
  height: 370px;
  margin: 50px;
  padding-top: 10px;

  display: block;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}
